.container {
    width: 70%;
    margin: 0 auto;
    font-size: 1.2rem;
    color: white;
}

.container h1 {
    font-size: 2rem;
}

button {
    width: 45%;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 15px 25px;
    text-decoration: none;
    margin: 10px;
    color: #fff;
    display: inline-block;
    position: relative;
    background-color: #2ecc71;
    box-shadow: 0 3px 0 0 #15B358;
}

button:active {
    transform: translate(0px, 3px);
    -webkit-transform: translate(0px, 3px);
    box-shadow: 0 1px 0 0;
}

button:hover {
    background-color: #48E68B;
}

/* Video Container */
.video-container, .general-view-container, .terms-container {
    display: none;
    text-align: center;
}

.video-container video {
    width: 100%;
}

/* General View Container */
.general-view-container {
    padding: 20px;
}

.general-view-container p {
    text-align: justify;
}

.general-view-container audio {
    display: none;
}

/* Terms Container */
.terms-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.9);
}

.terms-container .terms-body {
    width: 50%;
    margin: 0 auto;
    background-color: #aaa;
    border: 2px solid #333;
    padding: 2rem;
    transform: translateY(30%);
}

.terms-container p {
    text-align: justify;
}